# Reproductor de escritorio PlayBar GO  ->  pip install -r reproductor/requirements.txt
flet==1.0.3
flet-desktop==1.0.3
flet-video
yt-dlp
imageio-ffmpeg
requests
gspread
google-auth
google-auth-oauthlib
google-api-python-client
